/* Tag Selectors */


/* Class Selectors */
.navbar{
  background-color: black;
}

.filter{
  padding: 3px 5px;
}

.dropdown-item:active{
  background-color: #25D366;
}

.no-btm-pd{
  margin-bottom: 0;
  padding-bottom: 0;
}

.ad-bz{
  background-color: #25D366!important;
  padding-top: 0;
}

.brands-div{
  border: 1.5px solid rgba(0,0,0,0.15);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 8px;
  width: 100%;
}
/* Business Section */

.bz-div{
  margin: 5px 5px 20px;
  width: 150px;
}

.bz-img-placeholder{
  background-image: url('../assets/whatsketicon.JPEG');
  background-repeat: repeat;
  background-size: cover;
  height: 150px;
  max-height: 150px;
  max-width: 100%;;
  width: 100%;
}

.bz-img{
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.bz-nm{
  font: 18px Roboto, sans serif;
  margin: 7px 0;
}

.bz-des{
  font-size: 15px;
  margin-bottom: 3px;
}

.rating{
  justify-content: space-between;
}

/* .bz-star{
  margin-bottom: 0;
} */

.bz-rating-fig{
  font-size: 12px;
  font-weight: bold;
}

.fa-star, .fa-star-half, .fa-users{
  font-size: 10px;
}

/* Media Queries */

@media (min-width: 755px) and (max-width: 769px){

  .bz-div{
    margin: 5px 10px 20px;
  }

}

@media (max-width: 768px){

  .filter{
    margin: auto;
    margin-top: 1rem;
    padding: 8px 10px;
    width: 100%;
  }

  .ad-bz{
    background-color: #198754!important;
  }

  .brands-div{
    justify-content: space-around;
  }

  .bz-img-placeholder{
    background-size: contain;
  }

  .bz-div{
    width: 130px;
  }

}

@media (min-width: 900px){
  .bz-div{
    margin: 12px 5px;
    width: 160px;
  }
}
