/* Tag Selectors */


/* Class Selectors */
.navbar{
  background-color: black;
}

.filter{
  padding: 3px 5px;
}

.dropdown-item:active{
  background-color: #25D366;
}

.no-btm-pd{
  margin-bottom: 0;
  padding-bottom: 0;
}

.ad-bz{
  background-color: #25D366!important;
  padding-top: 0;
}

.bordered{
  border: 1px solid grey;
  border-radius: 10px;
}

.brands-div{
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
/* Business Section */

.bz-div{
  margin: 12px 0;
  width: 150px;
}

.bz-img{
  margin-bottom: 0;
  width: 100%;
}

.bz-nm{
  font: 18px Roboto, sans serif;
  margin: 7px 0;
}

.bz-des{
  font-size: 15px;
  margin-bottom: 3px;
}

.rating{
  justify-content: space-between;
}

/* .bz-star{
  margin-bottom: 0;
} */

.bz-rating-fig{
  font-size: 12px;
  font-weight: bold;
}

.fa-star, .fa-star-half, .fa-users{
  font-size: 10px;
}

/* Media Queries */
@media (max-width: 768px){

  .filter{
    margin: auto;
    padding: 8px 10px;
    width: 100%;
  }

  .ad-bz{
    background-color: #198754!important;
  }

}

@media (min-width: 900px){
  .bz-div{
    margin: 12px 5px;
    width: 160px;
  }
}
