/* imports */

/* main font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Uchen&display=swap');
/* rules */
/* font-family: 'Quicksand', sans-serif;
font-family: 'Uchen', serif; */

/* Font 2 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* rules */
/* font-family: 'Roboto', sans-serif; */

/* MarketPlace Page CSS */
@import url('css/marketplace.css');

/* Tag Selectors */

body{
  font-family: 'Quicksand', serif;
}

h1,h2,h3{
  font-family: 'Quicksand', sans-serif;
}

/* ID Selectors */
#market-place{
  background-color: #25D366;
}
#customer-support{
  background-color:  #1fad53;
  color: white;
}

/* Class Selectors */
.navbar{
  background-color: #25D366;
}

.navbar-brand{
  font-family: 'Roboto', sans-serif;
}

.iphone-img{
  transform: rotate(20deg);
  width: 15rem;
}

.wel-hdg{
  line-height: 2;
  letter-spacing: 0.20rem;
}

.wel-txt{
  line-height: 2;
  letter-spacing: 0.20rem;
}

.cnt-hdg{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.20rem;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.cnt-txt{
  letter-spacing: 0.20rem;
}

.fa-whatsapp{
  color: #25D366;
}

.fa-facebook-f{
  color: rgb(66 103 178);
}

.fa-instagram{
  background-color: white;
  background-clip: content-box;
  background-image: linear-gradient(to top right, #FFDF9E, #FFC273, #E56969, #C1558B, #8A49A1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.fa-twitter{
  color: #1DA1F2;
}

.fa-youtube{
  color: #ff0000;
}

.fa-bi{
  margin: 0 0.3rem
}

.fa-bi:hover{
  transform: scale(1.4);
  transition: 0.4s;
  cursor: pointer;
}

.slr-imgs{
  width: 100%;
}

.pmt-btn-div{
  margin-top: 80px;
  text-align: center;
}

.navbar-toggler:focus, .btn:focus, form:focus{
  box-shadow: none!important;
  outline: none!important;
}

/* Media Types */

@media (max-width: 768px){
  .wel-txt-div{
    text-align: center;
  }

  .wel-hdg{
    line-height: 1.5;
  }

  .wel-txt{
    line-height: 1.5;
  }

  .iphone-img{
    transform: rotate(0);
    width: 15rem;
  }


}

@media (min-width: 425px) and (max-width: 768px){

  .slr-imgs{
  width: 70%;
  }

}

@media (min-width: 768px) and (max-width: 875px){
  .iphone-img{
    width: 13rem;
  }
}

@media (min-width: 1024px){
  .navbar{
  padding: 3rem 5rem;
  }

  .wel-txt-div{
  padding: 2rem 4rem;
  }

  .iphone-img{
    width: 17rem;
  }

  .slr-imgs{
    width: 75%;
  }

}


@import url('css/marketplace.css');
